body{padding:2% 3% 3% 3%;font-family:Verdana;line-height:1.5em;background-color:black;color:white;}
a,.normal{text-decoration:none;color:#FFFFAA;}
a.list{text-decoration:none;}
a.note{text-decoration:none;font-style:italic;color:#D4FFD4;}
a.nav{color:gray;}
.toggle{text-decoration:none;font-size:13px!important;position:relative;top:-3px;color:gray;}
textarea{font-family:Arial;font-size:1em;} 
input[type=button]{background-color:transparent;color:white;border:1px solid;}
.strike{text-decoration: line-through;}
.c1{border-color:#7FAAFF;}
.c2{border-color:#AAFF55;}
.c3{border-color:#FFAA00;}
.c4{border-color:#D4FFAA;}
.c5{border-color:#00D4FF;}
.c6{border-color:#FF00FF;}
.c7{border-color:#00FF55;}